{
  "openapi" : "3.0.0",
  "info" : {
    "title" : "Christmas Countdown",
    "description" : "## Welcome\n\nThe Christmas Countdown API provides an easy way of getting the time left until Christmas, along with some other fun things like Christmas jokes.\n\n## Rate limits\n\nEndpoint rate limits for unidentified requests are defined per-category and act on the requester's IP address.\n\n|Category   |Limit|Period  |\n|-----------|-----|--------|\n|`countdown`|`10` |1 minute|\n|`other`    |`100`|1 minute|\n\n**If you you need a higher limit, please [contact me](https://eartharoid.me/contact).**",
    "termsOfService" : "https://docs.christmascountdown.live/api#terms",
    "contact" : {
      "name" : "Isaac",
      "url" : "https://go.eartharoid.me/discord",
      "email" : "contact@christmascountdown.live"
    },
    "license" : {
      "name" : "MIT",
      "url" : "https://choosealicense.com/licenses/mit"
    },
    "version" : "pine"
  },
  "servers" : [ {
    "url" : "https://api.christmascountdown.live/pine",
    "description" : "Production API server"
  }, {
    "url" : "http://localhost:{port}/pine",
    "description" : "Local development API server",
    "variables" : {
      "port" : {
        "default" : "8080"
      }
    }
  } ],
  "paths" : {
    "/timeleft" : {
      "get" : {
        "tags" : [ "countdown" ],
        "summary" : "Get the time left in sleeps/days etc, combined into one response",
        "description" : "The same as `/timeleft/{period}` but all `period`s are combined.",
        "parameters" : [ {
          "name" : "timezone",
          "in" : "query",
          "description" : "The timezone",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "default" : "UTC"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "The time left until Christmas",
            "headers" : {
              "X-Rate-Limit-Limit" : {
                "description" : "The number of allowed requests in the current period",
                "style" : "simple",
                "explode" : false,
                "schema" : {
                  "type" : "integer"
                }
              },
              "X-Rate-Limit-Remaining" : {
                "description" : "The number of remaining requests in the current period",
                "style" : "simple",
                "explode" : false,
                "schema" : {
                  "type" : "integer"
                }
              },
              "X-Rate-Limit-Reset" : {
                "description" : "The number of seconds left in the current period",
                "style" : "simple",
                "explode" : false,
                "schema" : {
                  "type" : "integer"
                }
              }
            },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/timeleft-combined"
                },
                "example" : {
                  "months" : 1,
                  "weeks" : 5,
                  "sleeps" : 37,
                  "days" : 36,
                  "hours" : 870,
                  "minutes" : 51840,
                  "seconds" : 3110400
                }
              }
            }
          }
        }
      }
    },
    "/timeleft/total" : {
      "get" : {
        "tags" : [ "countdown" ],
        "summary" : "Get the combined total time left until Christmas",
        "parameters" : [ {
          "name" : "timezone",
          "in" : "query",
          "description" : "The timezone",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "default" : "UTC"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "The total time left until Christmas",
            "headers" : {
              "X-Rate-Limit-Limit" : {
                "description" : "The number of allowed requests in the current period",
                "style" : "simple",
                "explode" : false,
                "schema" : {
                  "type" : "integer"
                }
              },
              "X-Rate-Limit-Remaining" : {
                "description" : "The number of remaining requests in the current period",
                "style" : "simple",
                "explode" : false,
                "schema" : {
                  "type" : "integer"
                }
              },
              "X-Rate-Limit-Reset" : {
                "description" : "The number of seconds left in the current period",
                "style" : "simple",
                "explode" : false,
                "schema" : {
                  "type" : "integer"
                }
              }
            },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/total-timeleft"
                },
                "example" : {
                  "days" : 36,
                  "hours" : 2,
                  "minutes" : 48,
                  "seconds" : 59
                }
              }
            }
          }
        }
      }
    },
    "/timeleft/{period}" : {
      "get" : {
        "tags" : [ "countdown" ],
        "summary" : "Get the time left in sleeps/days etc",
        "parameters" : [ {
          "name" : "period",
          "in" : "path",
          "description" : "days/sleeps etc",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "enum" : [ "months", "weeks", "sleeps", "days", "hours", "minutes", "seconds" ]
          }
        }, {
          "name" : "timezone",
          "in" : "query",
          "description" : "The timezone",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "default" : "UTC"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "The time left until Christmas",
            "headers" : {
              "X-Rate-Limit-Limit" : {
                "description" : "The number of allowed requests in the current period",
                "style" : "simple",
                "explode" : false,
                "schema" : {
                  "type" : "integer"
                }
              },
              "X-Rate-Limit-Remaining" : {
                "description" : "The number of remaining requests in the current period",
                "style" : "simple",
                "explode" : false,
                "schema" : {
                  "type" : "integer"
                }
              },
              "X-Rate-Limit-Reset" : {
                "description" : "The number of seconds left in the current period",
                "style" : "simple",
                "explode" : false,
                "schema" : {
                  "type" : "integer"
                }
              }
            },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/timeleft-period"
                },
                "example" : {
                  "sleeps" : 37
                }
              }
            }
          }
        }
      }
    },
    "/weekday" : {
      "get" : {
        "tags" : [ "countdown" ],
        "summary" : "Get the day of the week that Christmas Day is on",
        "description" : "The day is a number between 0 and 6, starting with **0 as Sunday**.\n\nYou need to convert this number to a day name yourself, either:\n1. using a simple array\n   ```js\n   const days = ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday'];\n   console.log(days[6]); // => \"Saturday\"\n   ```\n2. using built-in methods\n   ```js\n   const i18n = new Intl.DateTimeFormat('en-GB', { weekday: 'long' });\n   console.log(i18n.format(6)); // => \"Saturday\"\n   ```",
        "parameters" : [ {
          "name" : "timezone",
          "in" : "query",
          "description" : "The timezone",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "default" : "UTC"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "The day number (0-6) **starting with Sunday**",
            "headers" : {
              "X-Rate-Limit-Limit" : {
                "description" : "The number of allowed requests in the current period",
                "style" : "simple",
                "explode" : false,
                "schema" : {
                  "type" : "integer"
                }
              },
              "X-Rate-Limit-Remaining" : {
                "description" : "The number of remaining requests in the current period",
                "style" : "simple",
                "explode" : false,
                "schema" : {
                  "type" : "integer"
                }
              },
              "X-Rate-Limit-Reset" : {
                "description" : "The number of seconds left in the current period",
                "style" : "simple",
                "explode" : false,
                "schema" : {
                  "type" : "integer"
                }
              }
            },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/weekday"
                },
                "example" : 6
              }
            }
          }
        }
      }
    },
    "/joke" : {
      "get" : {
        "tags" : [ "other" ],
        "summary" : "Get a Christmas joke",
        "description" : "Returns a joke object (question and answer).",
        "responses" : {
          "200" : {
            "description" : "A joke",
            "headers" : {
              "X-Rate-Limit-Limit" : {
                "description" : "The number of allowed requests in the current period",
                "style" : "simple",
                "explode" : false,
                "schema" : {
                  "type" : "integer"
                }
              },
              "X-Rate-Limit-Remaining" : {
                "description" : "The number of remaining requests in the current period",
                "style" : "simple",
                "explode" : false,
                "schema" : {
                  "type" : "integer"
                }
              },
              "X-Rate-Limit-Reset" : {
                "description" : "The number of seconds left in the current period",
                "style" : "simple",
                "explode" : false,
                "schema" : {
                  "type" : "integer"
                }
              }
            },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/joke"
                },
                "example" : {
                  "question" : "How much did Santa pay for his sleigh?",
                  "answer" : "Nothing – it was on the house."
                }
              }
            }
          }
        }
      }
    },
    "/jokes" : {
      "get" : {
        "tags" : [ "other" ],
        "summary" : "Get all available Christmas jokes",
        "description" : "Returns an array of joke objects.",
        "responses" : {
          "200" : {
            "description" : "Jokes",
            "headers" : {
              "X-Rate-Limit-Limit" : {
                "description" : "The number of allowed requests in the current period",
                "style" : "simple",
                "explode" : false,
                "schema" : {
                  "type" : "integer"
                }
              },
              "X-Rate-Limit-Remaining" : {
                "description" : "The number of remaining requests in the current period",
                "style" : "simple",
                "explode" : false,
                "schema" : {
                  "type" : "integer"
                }
              },
              "X-Rate-Limit-Reset" : {
                "description" : "The number of seconds left in the current period",
                "style" : "simple",
                "explode" : false,
                "schema" : {
                  "type" : "integer"
                }
              }
            },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/jokes"
                }
              }
            }
          }
        }
      }
    }
  },
  "components" : {
    "schemas" : {
      "timeleft-combined" : {
        "type" : "object",
        "properties" : {
          "months" : {
            "type" : "number"
          },
          "weeks" : {
            "type" : "number"
          },
          "sleeps" : {
            "type" : "number"
          },
          "days" : {
            "type" : "number"
          },
          "hours" : {
            "type" : "number"
          },
          "minutes" : {
            "type" : "number"
          },
          "seconds" : {
            "type" : "number"
          }
        }
      },
      "total-timeleft" : {
        "type" : "object",
        "properties" : {
          "days" : {
            "type" : "number"
          },
          "hours" : {
            "type" : "number"
          },
          "minutes" : {
            "type" : "number"
          },
          "seconds" : {
            "type" : "number"
          }
        }
      },
      "timeleft-period" : {
        "type" : "object",
        "properties" : {
          "{period=string}" : {
            "type" : "number"
          }
        }
      },
      "weekday" : {
        "type" : "number"
      },
      "joke" : {
        "type" : "object",
        "properties" : {
          "question" : {
            "type" : "string"
          },
          "answer" : {
            "type" : "string"
          }
        }
      },
      "jokes" : {
        "type" : "array",
        "items" : {
          "$ref" : "#/components/schemas/joke"
        }
      }
    }
  }
}