openapi: 3.0.0
info:
  title: Christmas Countdown
  version: pine
  termsOfService: https://docs.christmascountdown.live/api/terms
  contact:
      name: Isaac
      email: contact@christmascountdown.live
      url: https://go.eartharoid.me/discord
  license:
      name: MIT
      url: https://choosealicense.com/licenses/mit
externalDocs:
  url: https://docs.christmascountdown.live/api
servers:
  - url: https://api.christmascountdown.live/pine
    description: Production API server
  - url: http://localhost:{port}/pine
    description: Local development API server
    variables:
      port:
        default: '8080'
paths:
#   '/image':
#     get:
#       description: Get a winter/Christmas-themed photo
#       responses:
#         '200':
#           description: An image
  '/joke':
    get:
      description: Get a Christmas joke
      responses:
        '200':
          description: A joke
          content:
            'application/json':
              schema:
                type: object
                properties:
                  question:
                    type: string
                  answer:
                    type: string
              example:
                question: 'How much did Santa pay for his sleigh?'
                answer: 'Nothing – it was on the house.'
  '/jokes':
    get:
      description: Get all available Christmas jokes
      responses:
        '200':
          description: Jokes
          content:
            'application/json':
              schema:
                type: array
  '/timeleft/':
    get:
      description: Get the time left in sleeps/days/hours etc, combined into one response
      responses:
        '200':
          description: The time left until Christmas
          content:
            'application/json':
              schema:
                type: object
                properties:
                  months:
                    type: number
                  weeks:
                    type: number
                  sleeps:
                    type: number
                  days:
                    type: number
                  hours:
                    type: number
                  minutes:
                    type: number
                  seconds:
                    type: number
              example:
                months: 1
                weeks: 5
                sleeps: 37
                days: 36
                hours: 870
                minutes: 51840
                seconds: 3110400
    parameters:
      - name: timezone
        in: query
        description: The timezone
        required: false
        schema:
          type: string
          default: UTC        
  '/timeleft/total':
    get:
      description: Get the combined total time left until Christmas
      responses:
        '200':
          description: The total time left until Christmas
          content:
            'application/json':
              schema:
                type: object
                properties:
                  days:
                    type: number
                  hours:
                    type: number
                  minutes:
                    type: number
                  seconds:
                    type: number
              example:
                days: 36
                hours: 2
                minutes: 48
                seconds: 59
      parameters:
        - name: timezone
          in: query
          description: The timezone
          required: false
          schema:
            type: string
            default: UTC
  '/timeleft/{period}':
    get:
      description: Get the time left in sleeps/days/hours etc
      responses:
        '200':
          description: The time left until Christmas
          content:
            'application/json':
              schema:
                type: object
                properties:
                  {period}:
                    type: number
              example:
                sleeps: 37
    parameters:
      - name: period
        in: path
        description: days/sleeps etc
        required: true
        schema:
          type: string
          enum:
          - months
          - weeks
          - sleeps
          - days
          - hours
          - minutes
          - seconds
      - name: timezone
        in: query
        description: The timezone
        required: false
        schema:
          type: string
          default: UTC
